.homeProducts {
    margin-bottom: 200px;
    padding: 25px 0px;
}

.homeProductsRow2 {
    margin-top: -250px;
}

.homeProductsRow2 .prodSlider .item {
    padding-right: 15px !important;
}

.filterTab {
    display: flex;
    justify-content: flex-end;
    /* Aligns the filter items to the right */
    align-items: center;
    padding: 0;
    margin-left: auto;
}

.filterTab li {
    margin-left: 20px;
    /* Space between each list item */
    list-style: none;
    /* Removes the default bullet points */
}

.filterTab li:first-child {
    margin-left: 0;
    /* Removes left margin from the first item */
}

.filterTab li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    display: block;
    padding: 5px 10px;
    /* Adds padding for a larger click area */
}

.filterTab li a:hover {
    color: #3bb77e !important;
    transform: translateY(-5px);
    /* Reduces hover effect distance for a smoother effect */
}


.homeProducts .ProductRow {
    display: flex;
    padding: 30px 0px;
    margin: 0px -15px;
    flex-wrap: wrap;
}

.homeProducts .ProductRow .item {
    width: 20%;

    padding: 15px 15px;

}

.topProductSection {
    padding: 35px 0px;
    margin-top: -190px;
}

.newsLetterSection {
    width: 100%;
    height: auto;
}

.newsLetterSection .box {
    background: url(../../Assests/bg.png);
    width: 100%;
    height: auto;
    padding: 50px 80px;
    border-radius: 30px;
    overflow: hidden;
}

.newsLetterSection .box .info {
    width: 55%;
}

.newsLetterSection .box .info h2 {
    font-size: 45px;
    font-weight: 600;
    line-height: 70px;
    opacity: 0.8;
}

.newsLetterSection .box .info p {
    font-size: 22px;
    opacity: 0.8;
}

.newsLetterSection .box .img {
    width: 45%;
    /* Reduced to allow for some spacing between the sections */
}

.newsLetterSection .box .img img {
    position: relative;
    top: 50px;
}

.newsLetterSection .box .newsLetterBanner {
    position: relative !important;
    left: 0 !important;
    bottom: inherit;

}