.nav {
    width: 100%;
    height: 80px;
    margin: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.grr {
    background-color: #3bb77e !important;

}

.text-g {
    color: #3bb77e;
}

/* Target the root element of the Material UI button */
.grr.MuiButton-root {
    margin: 10px !important;
    /* Forces the margin to apply */
    padding: 8px 20px !important;
    font-size: 20px !important;
    text-transform: capitalize !important;
}

.nav nav ul li button {
    text-transform: capitalize !important;
    padding: 10px 10px !important;
    margin-top: 13px;
    margin-left: 10px;
    color: #3bb77e !important;

}

.nav nav ul li button a {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.8) !important;
    font-size: 18px !important;

}

.nav nav ul li {
    position: relative;
}

.info {
    margin-left: 10px;
}

.nav .part3 .phNo svg {
    font-size: 45px !important;
    opacity: 0.8;
}

.nav .part3 .phNo h3 {
    font-size: 35px !important;
    line-height: 32px;
}

.nav .part3 .phNo p {
    font-size: 16px !important;
    opacity: 0.7;
}

nav .dropdown-menu {
    top: 150%;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 100;
    width: 230px;
    height: 430px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease-in-out;
}

nav .dropdown-menu li {
    list-style: none !important;
    width: 100% !important;
    margin-bottom: 25px;
    margin-left: -25px !important;
    height: 10px !important;
    align-items: left !important;
}

.nav nav .dropdown-menu li Button {
    width: 100% !important;
    text-align: left !important;
    justify-content: flex-start !important;
    text-transform: capitalize !important;
    font-size: 18px !important;
    margin-left: 0px;
    color: #3bb77e;
}

nav .dropdown-menu li Button {
    font-weight: 400 !important;
}

.dropdown-menu li button:hover {
    background: #f1f1f1 !important;
}

.nav nav li:hover .dropdown-menu {
    top: 115%;
    opacity: 1;
    visibility: inherit;
}

.megamenu {
    height: auto !important;
    margin-left: -50%;
    padding: 30px 45px;

}

.megamenu .col ul li {
    display: block;
    margin-bottom: 16px;
}

.megamenu .col ul li a {
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    text-decoration: none;
}